.bg-color {
  background-image: radial-gradient(farthest-side at 47% 28%, #7D22FF -100%, #131515 36%);
  min-height: calc(100vh - 80px) !important;
  width: 100%;
}

 .reletive {
  position: relative !important;
 }


 /* Card Background Color */
 
.bg-colorRefer{
  min-height: calc(100vh - 80px) !important;
  width: 100%;
}

.gradient-box {
  background: linear-gradient(
    rgba(0, 0, 0, 0.05), 
    rgba(0, 0, 0, 0.05)
  ),
  radial-gradient(
    circle at 10% 10%,
    rgba(0, 100, 120, 0.40) 0%,
    transparent 70%
  ),
  radial-gradient(
    circle at 70% 70%,
    rgba(217, 217, 217, 0.15) 0%,
    transparent 70%
  ),
  radial-gradient(
    circle at center,
    rgba(0, 200, 135, 0.28) 0%,
    transparent 70%
  );
  background-blend-mode: screen;
  border-radius: 30px; /* Matches the border-radius of your card */
}


/*  */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}


/* 200 Peple Joined */

.image-hover-effect {
  transition: transform 0.3s ease-in-out;
}

.image-hover-effect:hover {
  transform: scale(1.1); /* Adjust the scale value to your preference */
}


/* typing text */


@keyframes typing {
  from { width: 0; }
  to { width: 44%; }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #FCFCD8; }
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  border-right: 5px solid #FCFCD8; /* Same as text color */
  white-space: nowrap;
  animation: typing 2s steps(30, end) 1s 1 normal both, blink 0.75s step-end infinite;
}

.typing-text.design {
  animation: typing 5s steps(30, end) 1s 1 normal both, blink 0.75s step-end infinite;
}

