.bg-color {
  background-image: radial-gradient(circle, blue -100%, black 30%);
  min-height: calc(100vh - 80px) !important;
  width: 100%;
}

.bg-colorRefer{
  min-height: calc(100vh - 80px) !important;
  width: 100%;
}

.nex-gen-container {
  display: inline-block;
  position: relative;
}

.nex-gen-text {
  position: relative;
  z-index: 1;
}

.arrow-container {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  pointer-events: none; /* Ensures it doesn't interfere with user interaction */
}

.arrow-image {
  position: absolute;
  width: 20px; /* Adjust based on your needs */
  height: 20px; /* Adjust based on your needs */
  transform: translate(-30px, -30px); /* Moves the arrow outside the border */
  animation: arrowMove 4s linear forwards;
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  border: 2px dashed #fcfcd8;
  clip-path: inset(0 100% 0 0);
  animation: borderDraw 4s linear forwards;
}

@keyframes arrowMove {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes borderDraw {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0 75% 0 0);
  }
  50% {
    clip-path: inset(0 0 25% 0);
  }
  75% {
    clip-path: inset(0 0 0 75%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
